/*General*/

* {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px 20px;
}

/*Header*/

header{
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 10px 150px 50px;
    margin: -10px -10px 0px;
}

header .logo{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

header a {
    color: #e5e7eb;
}

a:link {
    text-decoration: none;
}

header h1 {
    color: #f9faf8;
    font-size: 48px;
    font-style: bold;
}

.nav-container{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-bottom: 50px;
}

.logo{
    flex: 1;
}


.title-container {
    display: flex;
    gap: 100px;
}

.title-item{
    flex: 1;
}

.image-item {
    height: 300px;
    flex: 0;
    align-self: center;
}

/*Some random information*/

.random-information {
    padding: 50px 0px 100px;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: bold;
    text-align: center;
}

.random-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.random-img {
    border: 5px solid #3882f6;
    border-radius: 20px;
    width: 200px;
}

.random-p {
    text-align: center;
    width: 200px;
}

/*Quote*/

.quote{
    background-color: #e5e7eb;
    display: flex;
    padding: 50px 350px 80px;
    justify-content: center;
    flex-direction: column;
    margin: 0px -10px 0px;
}

.quote-text {
    color: #1f2937; 
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-author {
    font-size: 29px;
    font-weight: bold;
    align-self: flex-end;
    margin-top: -10px;
}

/*Call to action*/

.action-container {
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 250px;
    padding: 25px 100px;
    border-radius: 10px;
    flex-wrap: wrap;
    gap: 300px;
}

.action-item > h3 {
    font-size: 25px;
}

.action-p {
    color: #e5e7eb;
}

.action-item > button {
    border: 1px solid #f9faf8;
}

/*Footer*/

footer {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    margin: 0px -10px -10px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}